version: 2.0.{build}

environment:
  global:
    APPVEYOR_OS_NAME: windows
    CHERE_INVOKING: 1
  matrix:
  # MSYS2 Building
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    platform: x86
    TARGET: msys2
    ARCH: 32
    VS_NAME:
    MSYSTEM: MINGW32
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    platform: x64
    TARGET: msys2
    ARCH: 64
    VS_NAME:
    MSYSTEM: MINGW64
  # VisualStudio 2017 64 bit Building
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    platform: x64
    TARGET: vs
    VS_VER: 15
    ARCH: 64
    VS_NAME: 2017
    BUNDLE: 1
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    platform: x64
    TARGET: vs
    VS_VER: 15
    ARCH: 64
    VS_NAME: 2017
    BUNDLE: 2
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    platform: x64
    TARGET: vs
    VS_VER: 15
    ARCH: 64
    VS_NAME: 2017
    BUNDLE: 3
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    platform: x64
    TARGET: vs
    VS_VER: 15
    ARCH: 64
    VS_NAME: 2017
    BUNDLE: 4
  # VisualStudio 2017 32 bit Building
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    platform: x86
    TARGET: vs
    VS_VER: 15
    ARCH: 32
    VS_NAME: 2017
    BUNDLE: 1
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    platform: x86
    TARGET: vs
    VS_VER: 15
    ARCH: 32
    VS_NAME: 2017
    BUNDLE: 2
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    platform: x86
    TARGET: vs
    VS_VER: 15
    ARCH: 32
    VS_NAME: 2017
    BUNDLE: 3
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    platform: x86
    TARGET: vs
    VS_VER: 15
    ARCH: 32
    VS_NAME: 2017
    BUNDLE: 4
  # VisualStudio 2015 32 bit Building
  # - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  #   platform: x86
  #   TARGET: vs
  #   VS_VER: 14
  #   ARCH: 32
  #   VS_NAME: 2015
  #   BUNDLE: 1
  # - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  #   platform: x86
  #   TARGET: vs
  #   VS_VER: 14
  #   ARCH: 32
  #   VS_NAME: 2015
  #   BUNDLE: 2
  # - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  #   platform: x86
  #   TARGET: vs
  #   VS_VER: 14
  #   ARCH: 32
  #   VS_NAME: 2015
  #   BUNDLE: 3
  # - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  #   platform: x86
  #   TARGET: vs
  #   VS_VER: 14
  #   ARCH: 32
  #   VS_NAME: 2015
  #   BUNDLE: 4
  # # VisualStudio 2015 64 bit Building
  # - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  #   platform: x64
  #   TARGET: vs
  #   VS_VER: 14
  #   ARCH: 64
  #   VS_NAME: 2015
  #   BUNDLE: 1
  # - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  #   platform: x64
  #   TARGET: vs
  #   VS_VER: 14
  #   ARCH: 64
  #   VS_NAME: 2015
  #   BUNDLE: 2
  # - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  #   platform: x64
  #   TARGET: vs
  #   VS_VER: 14
  #   ARCH: 64
  #   VS_NAME: 2015
  #   BUNDLE: 3
  # - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  #   platform: x64
  #   TARGET: vs
  #   VS_VER: 14
  #   ARCH: 64
  #   VS_NAME: 2015
  #   BUNDLE: 4

configuration: Debug
shallow_clone: false
clone_depth: 10

skip_commits:
  files:
    - '**/*.md'
    - .github/**/*

init:
# - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
- set PATH_BK=%PATH%
- set MSYS2_PATH=c:\msys64
# Update MSYS2 packages
- '%MSYS2_PATH%\usr\bin\pacman --noconfirm --needed -Su'
# Install unzip, dos2unix & gperf for VS and MSYS2
- '%MSYS2_PATH%\usr\bin\pacman --noconfirm --needed -S unzip dos2unix gperf'
# Install libxml2 on MSYS2
- if "%TARGET%"=="msys2" (%MSYS2_PATH%\usr\bin\bash -lc "pacman --noconfirm --needed -Su ${MINGW_PACKAGE_PREFIX}-libxml2")
# prepend PATH after msbuild command line environment has been set up.
- set PATH=%PATH%;%MSYS2_PATH%/usr/bin;

# # visual studio 2015
# - if "%PLATFORM%_%VS_VER%"=="x86_14" call "%VS140COMNTOOLS%\vsvars32.bat"
# - if "%PLATFORM%_%VS_VER%"=="x64_14" call "%VS140COMNTOOLS%..\..\VC\vcvarsall" amd64
# # visual studio 2017
# - if "%PLATFORM%_%VS_VER%"=="x86_15" call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars32.bat"
# - if "%PLATFORM%_%VS_VER%"=="x64_15" call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"

install:
- '%MSYS2_PATH%\usr\bin\bash -lc "scripts/calculate_formulas.sh"'
- if "%TARGET%"=="vs" choco install -y strawberryperl

build_script:
- '%MSYS2_PATH%\usr\bin\bash -lc "scripts/build.sh"'

test: off

# on_finish:
  # - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

artifacts:
    - path: 'openFrameworks*.zip'

deploy:
    provider: FTP
    protocol: sftp
    host: ci.openframeworks.cc
    username: tests
    password:
        secure: ALHv+04sZ49FZ4OCj6tTSg==
    folder: libs
    on:
      APPVEYOR_REPO_NAME: openframeworks/apothecary
