/*
!.gitignore
!.gitattributes
!.travis.yml
!README.md
!LICENSE.md
!/apo
!/apothecary
!/scripts
!/docker
!/.github
!/.github/workflows
/.github/workflows/*
!/.github/workflows/move-latest-tags.yml
!/.github/workflows/release-openframeworks.yml
!/.github/workflows/build-opencv-cuda-modular.yml
!/.github/workflows/build-linux-modular.yml
!/.github/workflows/test-openframeworks-libraries.yml
!/.github/workflows/validate-formula-sources.yml
!/apothecary/**/*
!/scripts/**/*
/apothecary/build
.DS_Store
!.*.yml
scripts/linuxarmv7l/archlinux
scripts/linuxarmv7l/CROSS_BUILD_TOOLS/*
!scripts/linuxarmv7l/CROSS_BUILD_TOOLS/build_cross_gcc.sh
package.xml
paths.make
formula.log
scripts/linuxarmv6l/rpi_toolchain
scripts/linuxarmv6l/master.zip
scripts/linuxarmv6l/firmware-master
scripts/status.txt
*.log
*.xcuserstate
