/*
!.gitignore
!.travis.yml
!README.md
!LICENSE.md
!/apothecary
!/scripts
!/docker
!/apothecary/**/*
!/scripts/**/*
/apothecary/build
.DS_Store
!.*.yml
scripts/linuxarmv7l/archlinux
scripts/linuxarmv7l/CROSS_BUILD_TOOLS/*
!scripts/linuxarmv7l/CROSS_BUILD_TOOLS/build_cross_gcc.sh
package.xml
paths.make
formula.log