name: build-emscripten

on:
  push:
    paths-ignore:
    - '**/README.md'
  pull_request:
    paths-ignore:
    - '**/README.md'
jobs:

  build-emscripten:
      runs-on: ubuntu-latest
      env:
       TARGET: "emscripten"
      steps:
      - uses: actions/checkout@v4
      - name: Docker Step
        run:  "docker run -di --name emscripten -v $PWD:/src emscripten/emsdk:3.1.42 bash"
      - name: Scripts Calc Formula
        run: ./scripts/calculate_formulas.sh
      - name: Scripts Install
        run: ./scripts/$TARGET/install.sh
      - name: Determine Release
        id: vars
        shell: bash
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
            echo "::set-output name=release::nightly"
          elif [[ "${{ github.ref }}" == "refs/heads/bleeding" ]]; then
            echo "::set-output name=release::bleeding"
          fi
      - name: build
        run: ./scripts/build.sh
        env:
            GA_CI_SECRET: ${{ secrets.CI_SECRET }}
      - name: Update Release
        uses: johnwbyrd/update-release@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.vars.outputs.release }}
          release: ${{ steps.vars.outputs.release }}
          prerelease: false
          files: out/openFrameworksLibs_emscripten.tar.bz2
        if: (github.repository == 'openframeworks/apothecary' && github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/bleeding'))

