name: build-emscripten

on:
  push:
    paths-ignore:
    - '**/README.md'
  pull_request:
    paths-ignore:
    - '**/README.md'
jobs:

  build-emscripten:
      runs-on: ubuntu-16.04
      environment: CI
      env:
       TARGET: "emscripten"
      steps:
      - uses: actions/checkout@v2
      - name: Docker Step
        run:  "docker run -di --name emscripten -v $PWD:/src trzeci/emscripten:sdk-incoming-64bit bash"
      - name: Scripts Calc Formula
        run: ./scripts/calculate_formulas.sh
      - name: Scripts Install
        run: ./scripts/$TARGET/install.sh
      - name: build
        run: ./scripts/build.sh
        env:
            GA_CI_SECRET: ${{ secrets.CI_SECRET }}
