name: build-macos

on:
  push:
    paths-ignore:
    - '**/README.md'
  pull_request:
    paths-ignore:
    - '**/README.md'
jobs:

  build-macos-platforms:
    runs-on: macos-12
    strategy:
        matrix:
            cfg:
            - {target: osx, job: 1}
            - {target: osx, job: 2}
            - {target: osx, job: 3}
            - {target: osx, job: 4}
            # - {target: ios, job: 1}
            # - {target: ios, job: 2}
            # - {target: ios, job: 3}
            # - {target: ios, job: 4}
            # - {target: tvos, job: 1}
            # - {target: tvos, job: 2}
            # - {target: tvos, job: 3}
            # - {target: tvos, job: 4}
    env:
       TARGET: ${{matrix.cfg.target}}
       BUNDLE: ${{matrix.cfg.job}}
    steps:
      - uses: actions/checkout@v2
      - name: Scripts Calc Formula - ${{matrix.cfg.target}} Bundle ${{matrix.cfg.job}}
        run: ./scripts/calculate_formulas.sh
      - name: Scripts Install
        run: ./scripts/$TARGET/install.sh
      - name: build
        run: ./scripts/build.sh
        env:
            DEVELOPER_DIR: "/Applications/Xcode_13.4.1.app/Contents/Developer"
            GA_CI_SECRET: ${{ secrets.CI_SECRET }}
      - name: Update Release
        uses: johnwbyrd/update-release@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: nightly
          release: nightly
          prerelease: false
          files: out/openFrameworksLibs_${{matrix.cfg.target}}${{matrix.cfg.job}}.tar.bz2
        if: github.repository == 'openframeworks/apothecary' && github.event_name == 'push' && github.ref == 'refs/heads/master'
