name: build-xcframeworks
on:
  push:
    paths-ignore:
      - '**/README.md'
  pull_request:
    paths-ignore:
      - '**/README.md'
jobs:
  wait-for-workflows:
    runs-on: [ubuntu-latest]
    steps:
    - name: Wait build-ios
      uses: NathanFirmo/wait-for-other-action@v1.0.4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        workflow: 'build-ios.yml'
    - name: Wait build-macos
      uses: NathanFirmo/wait-for-other-action@v1.0.4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        workflow: 'build-macos.yml'
    # - name: Wait build-xros
    #   uses: NathanFirmo/wait-for-other-action@v1.0.4
    #   with:
    #     token: ${{ secrets.GITHUB_TOKEN }}
    #     workflow: 'build-xros.yml'
    - name: Wait build-catos
      uses: NathanFirmo/wait-for-other-action@v1.0.4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        workflow: 'build-catos.yml'
    - name: Wait build-tvos
      uses: NathanFirmo/wait-for-other-action@v1.0.4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        workflow: 'build-tvos.yml'
    - name: Wait build-watchos
      uses: NathanFirmo/wait-for-other-action@v1.0.4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        workflow: 'build-watchos.yml'
  build-xcframework:
    runs-on: macos-14
    needs: wait-for-workflows
    env:
      DEVELOPER_DIR: "/Applications/Xcode_15.2.app/Contents/Developer"
    steps:
      - name: Determine Release
        id: vars
        shell: bash
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
            echo "release=nightly" >> $GITHUB_ENV
            echo "prerelease=false" >> $GITHUB_ENV
          elif [[ "${{ github.ref }}" == "refs/heads/bleeding" ]]; then
            echo "release=bleeding" >> $GITHUB_ENV
            echo "prerelease=true" >> $GITHUB_ENV
          fi
      - uses: actions/checkout@v4
      - name: Scripts Calc Formula
        run: ./scripts/calculate_formulas.sh
      - name: Scripts Install
        run: ./scripts/macos/install.sh
      - name: 'Download all artifacts'
        uses: actions/github-script@v7
        with:
          script: |
            const fs = require('fs');
            const { Octokit } = require("@octokit/core");
            const octokit = new Octokit({ auth: process.env.GITHUB_TOKEN });

            const path = require('path');

            // Ensure the output directory exists
            const outputDir = path.join(process.env.GITHUB_WORKSPACE, 'out');
            if (!fs.existsSync(outputDir)){
              fs.mkdirSync(outputDir);
            }

            // List all artifacts for the repository
            const artifacts = await octokit.request('GET /repos/openframeworks/apothecary/actions/artifacts', {
              owner: context.repo.owner,
              repo: context.repo.repo,
              per_page: 15
            });

            for (const artifact of artifacts.data.artifacts) {
              
              const downloadResponse = await octokit.request(artifact.archive_download_url, {
                method: 'GET',
                headers: {
                  authorization: `token ${process.env.GITHUB_TOKEN}`,
                },
                responseType: 'arraybuffer',
              });

              const artifactPath = path.join(outputDir, `${artifact.name}.zip`);
              fs.writeFileSync(artifactPath, Buffer.from(downloadResponse.data));
              console.log(`Downloaded ${artifact.name} to ${artifactPath}`);
            }
      - name: Extract Artifacts to /out
        run: |
          find out -name '*.zip' -exec unzip -d out/ {} \;
      - name: List output directory out
        run: ls -lah ./
      - name: Merge built libaries into Mega XC Framework
        working-directory: ${{ env.GITHUB_WORKSPACE }}
        run: scripts/macos/xcframework_all.sh
        env:
          GA_CI_SECRET: ${{ secrets.CI_SECRET }}
      - name: Package Final
        working-directory: ${{ env.GITHUB_WORKSPACE }}
        run: scripts/package.sh
        env:
          BUNDLE: ${{ matrix.bundle }}
          GA_CI_SECRET: ${{ secrets.CI_SECRET }}
      - name: Update Release arm64
        if: github.repository == 'openframeworks/apothecary' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/bleeding')
        uses: johnwbyrd/update-release@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.release }}
          release: ${{ env.release }}
          prerelease: ${{ env.prerelease }}
          files: out/openFrameworksLibs_${{ env.release }}_${{ env.TARGET }}_${{ matrix.bundle }}.tar.bz2
